<div class="program-page">
  <div class="headback">
    <div class="container">
      <div class="headtopcontents program">
        <img src="assets/img/program/program-title.png" alt="">
      </div>
    </div>
  </div>
  <div class="section-view">
    <div class="section-backview colorview1"></div>
    <div class="section-backview colorview2"></div>
    <div class="section-backview colorview3"></div>
    <div class="container">
      <div class="backwhite-inner">
        <%= partial "modules/ticketbar" %>
        <div class="row">
          <div class="col-md-12 box-section">
            <div class="col-md-5 col-sm-5 col-xs-12 pull-right">
              <img src="assets/img/program/dateplate.png" alt="" style="width:100%;">
            </div>

            <div class="col-md-7 col-sm-7 col-xs-12">
              <h1><%= data.program.title %></h1>
              <p><%= data.program.description %></p>
            </div>
          </div>
          <div class="col-md-12 box-section">
            <span>※左右にスクロールすることができます。</span>
            <div class="ui-flickable-wrapper">
              <div class="ui-flickable-content" style="overflow: scroll;">
                <table border="1" cellpadding="0" cellspacing="0" style="width:1200px;">
                 <tbody class="programtable">
                   <tr>
                    <td>時間</td>
                    <td>A会場</td>
                    <td>B会場</td>
                    <td>C会場</td>
                    <td>D会場</td>
                    <td>E会場</td>
                    <td>F会場</td>
                    <td>G会場</td>
                    <td>H会場</td>
                    <td>英会話カフェ</td>
                  </tr>
                  <tr>
                    <td>230ホール</td>
                    <td>351a室</td>
                    <td>358室</td>
                    <td>351b室</td>
                    <td>433室</td>
                    <td>452-453室</td>
                    <td>357室</td>
                    <td>354室</td>
                    <td>269室</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>9:00-<br>10:00</td>
                    <td colspan="9">受付</td>
                  </tr>
                  <tr>
                    <td>10:00-<br>11:00</td>
                    <% data.program.programtable.section1.each do |programblock| %>
                    <td rowspan="<%= programblock.rowsize %>">
                      <% programblock.subsection.each do |program| %>
                      <%= program.label %><br/>
                      <a href="speaker.html#<%= program.programid %>"><%= program.title %></a>
                      <% end %>
                    </td>
                    <% end %>
                    <!-- english cafe -->
                    <td></td>
                  </tr>
                  <tr>
                    <td>11:15-<br>12:00</td>
                    <% data.program.programtable.section2.each do |programblock| %>
                    <td rowspan="<%= programblock.rowsize %>">
                      <% programblock.subsection.each do |program| %>
                      <%= program.label %><br/>
                      <a href="speaker.html#<%= program.programid %>"><%= program.title %></a>
                      <% end %>
                    </td>
                    <% end %>
                    <!-- english cafe -->
                    <td></td>
                  </tr>
                  <tr>
                    <td>12:00-<br>13:00</td>
                    <td colspan="9">
                      昼食・スカウティングセッション(A会場)<br>
                      はてな、IDCフロンティア、日本アイ・ビー・エム、クリエーションライン、ワークスアプリケーションズ
                    </td>
                  </tr>
                  <tr>
                    <td>13:00-<br>13:45</td>
                    <% data.program.programtable.section3.each do |programblock| %>
                    <td rowspan="<%= programblock.rowsize %>">
                      <% programblock.subsection.each do |program| %>
                      <%= program.label %><br/>
                      <a href="speaker.html#<%= program.programid %>"><%= program.title %></a>
                      <% end %>
                    </td>
                    <% end %>
                    <!-- english cafe -->
                    <td rowspan="2"></td>
                  </tr>
                  <tr>
                    <td>14:00-<br>14:45</td>
                    <% data.program.programtable.section4.each do |programblock| %>
                    <td rowspan="<%= programblock.rowsize %>">
                      <% programblock.subsection.each do |program| %>
                      <%= program.label %><br/>
                      <a href="speaker.html#<%= program.programid %>"><%= program.title %></a>
                      <% end %>
                    </td>
                    <% end %>
                  </tr>
                  <tr>
                    <td>14:45-<br>15:15</td>
                    <td colspan="9">
                      スカウティングセッション(A会場)<br>テコラス、ニュータニックス・ジャパン、ビッグローブ
                    </td>
                  </tr>
                  <tr>
                    <td>15:15-<br>16:00</td>
                    <% data.program.programtable.section5.each do |programblock| %>
                    <td rowspan="<%= programblock.rowsize %>">
                      <% programblock.subsection.each do |program| %>
                      <%= program.label %><br/>
                      <a href="speaker.html#<%= program.programid %>"><%= program.title %></a>
                      <% end %>
                    </td>
                    <% end %>
                    <!-- english cafe -->
                    <td rowspan="2"></td>
                  </tr>
                  <tr>
                    <td>16:15-<br>17:00</td>
                    <% data.program.programtable.section6.each do |programblock| %>
                    <td rowspan="<%= programblock.rowsize %>">
                      <% programblock.subsection.each do |program| %>
                      <%= program.label %><br/>
                      <a href="speaker.html#<%= program.programid %>"><%= program.title %></a>
                      <% end %>
                    </td>
                    <% end %>
                  </tr>
                  <tr>
                    <td>17:00-<br>17:30</td>
                    <td colspan="9">
                      スカウティングセッション(A会場)<br>ニフティ、さくらインターネット、DMM.comラボ
                    </td>
                  </tr>
                  <tr>
                    <td>17:30-<br>18:30</td>
                    <td>招待講演:<br>
                      <a href="http://2015.techfesta.jp/p/program.html#game_cloud">今明かされる! シンラ・テクノロジーのインフラへの挑戦と舞台裏</a>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>19:00-<br>21:00</td>
                    <td colspan="9">懇親会 (HUMMER CAFE)</td>
                  </tr>
                </tbody>
              </table>
              <div style="clear:both;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
